.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    background-color: #e631c1c0;
    color: #ffffff;
    cursor: pointer;
    z-index: 999;
}

.scroll-btn.show {
    display: block;
}

.scroll-btn:hover {
    background-color: #f084e7d4;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(244, 140, 245, 0.436);
  }
  
  .modal-content {
    background-color: #ff65e8a1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 80%;
    border-radius: 10px; 
  }
  
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus { /*знак*/
    color: rgb(94, 7, 73);
    text-decoration: none;
    cursor: pointer;
  }


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
    align-content: stretch;
    gap: 20px; 
}

/*середина сторінки*/
.product-item {
    width: calc(50% - 200px); 
    margin: 5px; 
}

 /* Сховати форму реєстрації за замовчуванням */
 #registrationForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 /*стилідля зареєструватися*/
#registrationButton {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ff00f2;
  background-color: #ef3fb5;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#registrationButton:hover {
  background-color: #f96de4;
  border-color: #ff00f2;
}

#registrationButton:active {
  background-color: #f700ff;
  color: #ffffff;
}

#adminButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#adminPanel {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.adminPanelButtons {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
}

#adminButtonContainer:hover #adminPanel {
  display: block;
}


      
  .close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }
  .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }